<?xml version="1.0" encoding="UTF-8" ?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd"
    version="2.0">
    <description>A tag library that defines a function.</description>
    <tlib-version>1.0</tlib-version>
    <short-name>FunctionTagLibrary</short-name>
    <uri>/FunctionLibrary</uri>
  <function>
    <name>equals</name>
    <function-class>mypkg.MyLocales</function-class>
    <function-signature>boolean equals( java.lang.String, java.lang.String )</function-signature>
  </function>
</taglib>